@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body {
    background-color: antiquewhite;
    font-family: "Rethink Sans", Arial, sans-serif;
    font-size: medium;
    color: black;
}

iframe {
    border: 2px solid black;
    border-radius: 10px;
}

.header-section {
    background-color: rgb(191, 245, 245);
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.pages-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(191, 245, 245);
}

.page {
    background-color: antiquewhite;
}

.page, .about-me {
    text-decoration: none;
    color: black;
    font-size: 16px;
    color: black;
    font-style: italic;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.page:hover, .about-me:hover {
    color: blue;
    text-decoration: underline;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(191, 245, 245);
}

.main-page, .about-me {
    color: black;
    font-style: italic;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.leave-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.genres {
    color: black;
    gap: 100px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side {
    flex-grow: 1;
}

.right-side {
    margin-right: 100px;
}

