@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Diphylleia&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: rgb(216, 216, 216);
    font-family: "Diphylleia", Arial, sans-serif;
    font-size: medium;
    color: black;
}

iframe {
    border: 2px solid black;
    border-radius: 10px;
}

.header-section {
    background-color: rgb(191, 245, 245);
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.pages-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(191, 245, 245);
}

.page { 
    background-color: rgb(216, 216, 216);
    transition: transform 0.3s ease;
}

.page:hover {
    transform: scale(1.05);
}

.page, .about-me {
    text-decoration: none;
    color: black;
    font-size: 16px;
    color: black;
    font-style: italic;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

/* .page:hover, .about-me:hover {
    color: blue;
    text-decoration: underline;
} */

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(191, 245, 245);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    20% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
    60% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.main-img {
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    animation: pulse 2s ease-out forwards;
}

/* .main-img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20 px rgba(0, 0, 0, 0.2);
} */

.sub {
    margin-top: 11px;
    text-align: center;
}

.main-page, .about-me {
    color: black;
    font-style: italic;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.leave-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(191, 245, 245);
    padding: 10px;
}

.genres {
    color: black;
    gap: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.header {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(191, 245, 245);
    padding: 5px;
    /* display: inline-block; */
    text-align: center;
    width: 1000px
}

.left-side {
    flex-grow: 1;
}

.right-side {
    margin-right: 100px;
    border: 2px solid black;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    flex-shrink: 0;
    height: 1675px;
    box-sizing: border-box;
    background-color: rgb(191, 245, 245);
}

.right-side-sci-fi {
    margin-right: 100px;
    border: 2px solid black;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    flex-shrink: 0;
    height: 1355px;
    box-sizing: border-box;
    background-color: rgb(191, 245, 245);
}

.about-genre {
    font-size: 110%;
}

.contacts {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(191, 245, 245);
    padding: 10px;
    width: 180px;
    height: 125px;

    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.contacts:hover {
    transform: scale(1.1);
}

.about-me-text {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(191, 245, 245);
    padding: 10px;
    width: 1470px;
    display: flex;
    flex-direction: row;
}

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}