@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body {
    background-color: antiquewhite;
    font-family: "Rethink Sans", Arial, sans-serif;
    font-size: medium;
}

.page {
    color: black;
    font-style: italic;
    display: flex;
    flex-direction: column;
    min-height: 5vh;
}